<!DOCTYPE html>

<!-- Image References:
https://media.istockphoto.com/vectors/music-background-vector-id1076840920?k=20&m=1076840920&s=170667a&w=0&h=g5DAo0AIf5c_0C8UxmfzG3p_0v6HSwc6ZtXoiZfE6CI=
 https://itg.wfu.edu/blog/why-and-how-privacy-modes-in-browsers/
    https://www.youtube.com/watch?v=OWNxUVnY3pg
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Recover Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body style="background-image: url(static/images/note.jpg); background-size: cover; background-position: center;">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <p style="color:white;"> {{msg}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endblock %}


    <div class="loginbox">
        <img src="{{ url_for('static', filename='images/incognito.png')   }}" class="avatar" />
        <h1> Enter your username </h1>
        <form method="post">
            <p> Username </p>
            <input type="text" name="username" placeholder="Enter Username" />

            <input type="submit" name="" value="Login" />
        </form>

    </div>

</body>
</html>
